alkacon.mercury.template/resources/system/modules/alkacon.mercury.template/schemas/nested/map-config.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>

    <xsd:element name="MarkerConfigData" type="OpenCmsMarkerConfigData"/>

    <xsd:complexType name="OpenCmsMarkerConfigData">
        <xsd:sequence>
            <xsd:element name="MarkerConfig" type="OpenCmsMarkerConfig" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OpenCmsMarkerConfig">
        <xsd:sequence>
            <xsd:element name="MarkerGroup" type="OpenCmsString" />
            <xsd:element name="MarkerColor" type="OpenCmsColor" minOccurs="0" />
            <xsd:element name="MarkerIcon" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="MarkerBox"  type="OpenCmsBoolean" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
    </xsd:complexType>

    <xsd:annotation>
        <xsd:appinfo>
            <resourcebundles>
                <propertybundle name="alkacon.mercury.template.messages" />
            </resourcebundles>
            <FieldSettings>
                <Setting>
                    <PropertyName>MarkerGroup</PropertyName>
                    <DisplayName><![CDATA[%(key.label.MarkerGroup)]]></DisplayName>
                    <Description><![CDATA[%(key.label.MarkerGroup.help)]]></Description>
                    <Widget>string</Widget>
                    <Search>false</Search>
                    <Display>singleline</Display>
                </Setting>
                <Setting>
                    <PropertyName>MarkerColor</PropertyName>
                    <DisplayName><![CDATA[%(key.label.MarkerColor)]]></DisplayName>
                    <Description><![CDATA[%(key.label.MarkerColor.help)]]></Description>
                    <Widget>colorpicker</Widget>
                    <Error><![CDATA[%(key.msg.error.colorformat)]]></Error>
                </Setting>
                <Setting>
                    <PropertyName>MarkerIcon</PropertyName>
                    <DisplayName><![CDATA[%(key.label.MarkerIcon)]]></DisplayName>
                    <Description><![CDATA[%(key.label.MarkerIcon.help)]]></Description>
                    <Widget><![CDATA[%(attribute:map.MarkerIcon.widget:string)]]></Widget>
                    <WidgetConfig><![CDATA[%(attribute:map.MarkerIcon.default)]]></WidgetConfig>
                    <Search>false</Search>
                </Setting>
                <Setting>
                    <PropertyName>MarkerBox</PropertyName>
                    <DisplayName><![CDATA[%(key.label.MarkerBox)]]></DisplayName>
                    <Description><![CDATA[%(key.label.MarkerBox.help)]]></Description>
                    <Widget>checkbox</Widget>
                    <Display>singleline</Display>
                </Setting>
            </FieldSettings>
        </xsd:appinfo>
    </xsd:annotation>
</xsd:schema>
