alkacon.mercury.template/resources/system/modules/alkacon.mercury.template/schemas/article.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/image.xsd"/>
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/paragraph.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/teaser-data.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/meta-info-detail.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/availability.xsd" />

    <xsd:element name="ArticleData" type="OpenCmsArticleData" />

    <xsd:complexType name="OpenCmsArticleData">
        <xsd:sequence>
            <xsd:element name="Article" type="OpenCmsArticle" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OpenCmsArticle">
        <xsd:sequence>
            <xsd:element name="Intro" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="Title" type="OpenCmsString" />
            <xsd:element name="Date" type="OpenCmsDateTime" />
            <xsd:element name="Preface" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="Image" type="OpenCmsNestedImage" minOccurs="0" />
            <xsd:element name="Paragraph" type="OpenCmsParagraph" minOccurs="1" maxOccurs="100" />
            <xsd:element name="Author" type="OpenCmsString" />
            <xsd:element name="AuthorMail" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="TeaserData" type="OpenCmsTeaserData" minOccurs="0" />
            <xsd:element name="MetaInfo" type="OpenCmsDetailMetaInfo" minOccurs="0" />
            <xsd:element name="Category" type="OpenCmsDynamicCategory" />
            <xsd:element name="Order" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="Availability" type="OpenCmsAvailability" minOccurs="0" />
            <xsd:element name="GalleryTitle" type="OpenCmsString" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="required" />
    </xsd:complexType>

    <xsd:annotation>
        <xsd:appinfo>
            <resourcebundles>
                <propertybundle name="alkacon.mercury.template.messages" />
            </resourcebundles>
            <tabs>
                <tab element="Intro" collapse="false" name="%(key.tab.Article)" />
                <tab element="Author" collapse="false" name="%(key.tab.Author)" />
                <tab element="TeaserData" collapse="false" name="%(key.tab.MetaData)" />
                <tab element="Category" collapse="false" name="%(key.tab.Availability)" />
            </tabs>
            <mappings>
                <mapping element="Availability/Release" mapto="attribute:datereleased" />
                <mapping element="Availability/Expiration" mapto="attribute:dateexpired" />
            </mappings>
            <editorchangehandlers>
                <editorchangehandler
                    class="org.opencms.ade.contenteditor.CmsEditorChangeHandlerProperty"
                    scope="Image/Image"
                    configuration="Copyright|../Copyright" />
                <editorchangehandler
                    class="org.opencms.ade.contenteditor.CmsEditorChangeHandlerProperty"
                    scope="Paragraph*/Image*/Image"
                    configuration="Copyright|../Copyright" />
            </editorchangehandlers>
            <FieldSettings>
                <Setting>
                    <PropertyName>Intro</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Intro)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Intro.help)]]></Description>
                    <Widget>string</Widget>
                </Setting>
                <Setting>
                    <PropertyName>Title</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Title)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Title.help)]]></Description>
                    <Widget>string</Widget>
                    <Default><![CDATA[%(key.type.m-article.title)]]></Default>
                    <RuleRegex>.+</RuleRegex>
                    <RuleType>error</RuleType>
                    <Error><![CDATA[%(key.msg.error.notempty)]]></Error>
                    <Search>listtitle</Search>
                </Setting>
                <Setting>
                    <PropertyName>Preface</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Preface)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Preface.help)]]></Description>
                    <Widget>textarea</Widget>
                    <WidgetConfig>3|proportional</WidgetConfig>
                </Setting>
                <Setting>
                    <PropertyName>Image</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Image)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Image.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>Date</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Date)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Date.help)]]></Description>
                    <Widget>datetime</Widget>
                    <Default><![CDATA[%(currenttime)]]></Default>
                    <Search>listdate</Search>
                    <Synchronization>true</Synchronization>
                </Setting>
                <Setting>
                    <PropertyName>Paragraph</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Paragraph)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Paragraph.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>Author</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Author)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Author.help)]]></Description>
                    <Widget>string</Widget>
                    <Default><![CDATA[%(currentuser.firstname) %(currentuser.lastname)]]></Default>
                    <RuleRegex>.+</RuleRegex>
                    <RuleType>error</RuleType>
                    <Error><![CDATA[%(key.msg.error.notempty)]]></Error>
                    <Synchronization>true</Synchronization>
                </Setting>
                <Setting>
                    <PropertyName>AuthorMail</PropertyName>
                    <DisplayName><![CDATA[%(key.label.AuthorMail)]]></DisplayName>
                    <Description><![CDATA[%(key.label.AuthorMail.help)]]></Description>
                    <Widget>string</Widget>
                    <Default><![CDATA[%(currentuser.email)]]></Default>
                    <RuleRegex>([A-Za-z0-9._%+-]+)@([A-Za-z0-9.-])+(\.[A-Za-z]{2,})</RuleRegex>
                    <RuleType>error</RuleType>
                    <Error><![CDATA[%(key.msg.error.mail.invalid)]]></Error>
                    <Search>false</Search>
                </Setting>
                <Setting>
                    <PropertyName>TeaserData</PropertyName>
                    <DisplayName><![CDATA[%(key.label.TeaserData)]]></DisplayName>
                    <Description><![CDATA[%(key.label.TeaserData.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>MetaInfo</PropertyName>
                    <DisplayName><![CDATA[%(key.label.MetaInfo)]]></DisplayName>
                    <Description><![CDATA[%(key.label.MetaInfo.Detail.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>Category</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Category)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Category.help)]]></Description>
                    <Widget>category</Widget>
                    <WidgetConfig>onlyleafs=false</WidgetConfig>
                    <Search>false</Search>
                </Setting>
                <Setting>
                    <PropertyName>Availability</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Availability)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Availability.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>Order</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Order)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Order.help)]]></Description>
                    <Widget>string</Widget>
                    <RuleRegex>^[-+]?\d+$</RuleRegex>
                    <RuleType>error</RuleType>
                    <Error><![CDATA[%(key.msg.error.Order)]]></Error>
                    <Search>listorder</Search>
                    <Synchronization>true</Synchronization>
                </Setting>
                <Setting>
                    <PropertyName>GalleryTitle</PropertyName>
                    <DisplayName><![CDATA[%(key.label.GalleryTitle)]]></DisplayName>
                    <Description><![CDATA[%(key.label.GalleryTitle.help)]]></Description>
                    <Widget>string</Widget>
                    <Default><![CDATA[%(value:Title)]]></Default>
                    <DefaultResolveMacros>false</DefaultResolveMacros>
                    <Search>false</Search>
                    <Visibility>ROLE.WORKPLACE_USER</Visibility>
                    <Mapping>
                       <MapTo>property:Title</MapTo>
                       <UseDefault>true</UseDefault>
                    </Mapping>
                    <Mapping>
                        <MapTo>urlName</MapTo>
                        <UseDefault>true</UseDefault>
                    </Mapping>
                </Setting>
            </FieldSettings>
        </xsd:appinfo>
    </xsd:annotation>

</xsd:schema>
