alkacon.mercury.template/resources/system/modules/alkacon.mercury.template/schemas/contact.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/image.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/link.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/contact-name.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/contact-item.xsd" />

    <xsd:element name="ContactData" type="OpenCmsContactData" />

    <xsd:complexType name="OpenCmsContactData">
        <xsd:sequence>
            <xsd:element name="Contact" type="OpenCmsContact" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OpenCmsContact">
        <xsd:sequence>
            <xsd:element name="Kind" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="Name" type="OpenCmsContactName" minOccurs="0" />
            <xsd:element name="Organization" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="Position" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="Image" type="OpenCmsNestedImage" minOccurs="0" />
            <xsd:element name="Contact" type="OpenCmsContactItem" />
            <xsd:element name="Title" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="Description" type="OpenCmsHtml" minOccurs="0" />
            <xsd:element name="Link" type="OpenCmsNestedLink" minOccurs="0" />
            <xsd:element name="GalleryTitle" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="DetailPageUrl" type="OpenCmsString" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="required" />
    </xsd:complexType>

    <xsd:annotation>
        <xsd:appinfo>
            <resourcebundles>
                <propertybundle name="alkacon.mercury.template.messages" />
            </resourcebundles>
            <tabs>
                <tab element="Kind" collapse="false" name="%(key.tab.Contact)" />
                <tab element="Contact" collapse="true" name="%(key.tab.AddressPhone)" />
                <tab element="Title" collapse="false" name="%(key.tab.FurtherInfo)" />
            </tabs>
            <searchsettings containerPageOnly="true">
                <searchsetting element="GalleryTitle" searchcontent="false">
                    <solrfield targetfield="disptitle" sourcefield="*_sort" />
                </searchsetting>
            </searchsettings>
            <editorchangehandlers>
                <editorchangehandler
                    class="org.opencms.ade.contenteditor.CmsEditorChangeHandlerProperty"
                    scope="Image*/Image"
                    configuration="Copyright|../Copyright" />
            </editorchangehandlers>
            <parameters>
                <param name="galleryTitle"><![CDATA[%!
                    !%%if (! fn.(content.value.("Kind")).isEqual.("org"))%%!
                        !%%if (content.value.("Name/Title").isSet)%%content.value.("Name/Title")%%endif%%!
                        !%%if (content.value.("Name/FirstName").isSet)% %content.value.("Name/FirstName")%%endif%%!
                        !%%if (content.value.("Name/MiddleName").isSet)% %content.value.("Name/MiddleName")%%endif%%!
                        !%%if (content.value.("Name/LastName").isSet)% %content.value.("Name/LastName")%%endif%%!
                        !%%if (content.value.("Name/Suffix").isSet)% %content.value.("Name/Suffix")%%endif%%!
                        !%%if (content.value.("Organization").isSet || content.value.("Position").isSet)%%!
                            !% -%!
                            !%%if (content.value.("Position").isSet)% %content.value.("Position")%%endif%%!
                            !%%if (content.value.("Organization").isSet)%, %content.value.("Organization")%%endif%%!
                        !%%endif%%!
                    !%%else%%!
                        !%%if (content.value.("Organization").isSet)%%content.value.("Organization")%%endif%%!
                        !%%if (content.value.("Name").isSet) %%!
                            !% -%!
                            !%%if (content.value.("Name/Title").isSet)% %content.value.("Name/Title")%%endif%%!
                            !%%if (content.value.("Name/FirstName").isSet)% %content.value.("Name/FirstName")%%endif%%!
                            !%%if (content.value.("Name/MiddleName").isSet)% %content.value.("Name/MiddleName")%%endif%%!
                            !%%if (content.value.("Name/LastName").isSet)% %content.value.("Name/LastName")%%endif%%!
                            !%%if (content.value.("Name/Suffix").isSet)% %content.value.("Name/Suffix")%%endif%%!
                        !%%endif%%!
                        !%%if (content.value.("Position").isSet)%, %content.value.("Position")%%endif%%!
                    !%%endif%%!
                !%]]></param>
            </parameters>
            <FieldSettings>
                <Setting>
                    <PropertyName>Kind</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Contact.Kind)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Contact.Kind.help)]]></Description>
                    <Widget>select</Widget>
                    <Default>Person</Default>
                    <DefaultResolveMacros>false</DefaultResolveMacros>
                    <WidgetConfig><![CDATA[person:%(key.msg.option.contact.person)|org:%(key.msg.option.contact.organization)]]></WidgetConfig>
                    <Search>false</Search>
                </Setting>
                <Setting>
                    <PropertyName>Name</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Contact.Name)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Contact.Name.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>Organization</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Contact.Organization)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Contact.Organization.help)]]></Description>
                    <Widget>string</Widget>
                </Setting>
                <Setting>
                    <PropertyName>Position</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Contact.Position)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Contact.Position.help)]]></Description>
                    <Widget>string</Widget>
                </Setting>
                <Setting>
                    <PropertyName>Image</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Image)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Image.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>Contact</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Contact.Contact)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Contact.Contact.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>Title</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Title)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Title.help)]]></Description>
                    <Widget>string</Widget>
                    <Default><![CDATA[%(key.type.m-section.title)]]></Default>
                </Setting>
                <Setting>
                    <PropertyName>Description</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Description)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Description.help)]]></Description>
                    <Widget>HtmlWidget</Widget>
                    <WidgetConfig>link,anchor,source,formatselect</WidgetConfig>
                </Setting>
                <Setting>
                    <PropertyName>Link</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Link)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Link.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>GalleryTitle</PropertyName>
                    <DisplayName><![CDATA[%(key.label.GalleryTitle)]]></DisplayName>
                    <Description><![CDATA[%(key.label.GalleryTitle.help)]]></Description>
                    <Widget>string</Widget>
                    <Default><![CDATA[%(stringtemplate:galleryTitle)]]></Default>
                    <DefaultResolveMacros>false</DefaultResolveMacros>
                    <Search>false</Search>
                    <Visibility>ROLE.WORKPLACE_USER</Visibility>
                    <Mapping>
                        <MapTo>property:Title</MapTo>
                        <UseDefault>true</UseDefault>
                    </Mapping>
                </Setting>
                <Setting>
                    <PropertyName>DetailPageUrl</PropertyName>
                    <DisplayName><![CDATA[%(key.label.DetailPageUrl)]]></DisplayName>
                    <Description><![CDATA[%(key.label.DetailPageUrl.help)]]></Description>
                    <Widget>string</Widget>
                    <Default><![CDATA[%(value:Name/FirstName) %(value:Name/MiddleName) %(value:Name/LastName) %(value:Organization)]]></Default>
                    <DefaultResolveMacros>false</DefaultResolveMacros>
                    <Visibility>ROLE.WORKPLACE_USER</Visibility>
                    <Mapping>
                        <MapTo>urlName</MapTo>
                        <UseDefault>true</UseDefault>
                    </Mapping>
                </Setting>
            </FieldSettings>
        </xsd:appinfo>
    </xsd:annotation>
</xsd:schema>
