alkacon.mercury.template/resources/system/modules/alkacon.mercury.template/schemas/person.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/image.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/link.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/contact-name.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/contact-data.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/availability.xsd" />

    <xsd:element name="ContactData" type="OpenCmsContactData" />

    <xsd:complexType name="OpenCmsContactData">
        <xsd:sequence>
            <xsd:element name="Contact" type="OpenCmsContact" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OpenCmsContact">
        <xsd:sequence>
            <xsd:element name="Name" type="OpenCmsContactName" />
            <xsd:element name="Position" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="Image" type="OpenCmsNestedImage" minOccurs="0" />
            <xsd:element name="LinkToOrganization" type="OpenCmsVfsFile" minOccurs="0" />
            <xsd:element name="Contact" type="OpenCmsContactItem" />
            <xsd:element name="Title" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="Notice" type="OpenCmsHtml" minOccurs="0" />
            <xsd:element name="Description" type="OpenCmsHtml" minOccurs="0" />
            <xsd:element name="Link" type="OpenCmsNestedLink" minOccurs="0" />
            <xsd:element name="Category" type="OpenCmsDynamicCategory" />
            <xsd:element name="Order" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="Availability" type="OpenCmsAvailability" minOccurs="0" />
            <xsd:element name="DetailPageUrl" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="GalleryTitle" type="OpenCmsString" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="required" />
    </xsd:complexType>

    <xsd:annotation>
        <xsd:appinfo>
            <resourcebundles>
                <propertybundle name="alkacon.mercury.template.messages" />
            </resourcebundles>
            <tabs>
                <tab element="Name" collapse="false" name="%(key.tab.Contact)" />
                <tab element="Contact" collapse="true" name="%(key.tab.AddressPhone)" />
                <tab element="Title" collapse="false" name="%(key.tab.FurtherInfo)" />
                <tab element="Category" collapse="false" name="%(key.tab.Availability)" />
            </tabs>
            <mappings>
                <mapping element="Availability/Release" mapto="attribute:datereleased" />
                <mapping element="Availability/Expiration" mapto="attribute:dateexpired" />
            </mappings>
            <geomapping>
                <link>Contact/AddressChoice/PoiLink</link>
            </geomapping>
            <searchsettings containerPageOnly="false">
                <searchsetting element="GalleryTitle" searchcontent="false">
                    <solrfield targetfield="disptitle" sourcefield="*_sort" />
                </searchsetting>
            </searchsettings>
            <parameters>
                <param name="galleryTitle"><![CDATA[%!
                    !%%if (content.value.("Organization").isSet)%%content.value.("Organization")% - %endif%%!
                    !%%if (content.value.("Name").isSet) %%!
                        !%%if (content.value.("Name/LastName").isSet)%%content.value.("Name/LastName")% %endif%%!
                        !%%if (content.value.("Name/Title").isSet)%%content.value.("Name/Title")%%endif% %!
                        !%%if (content.value.("Name/FirstName").isSet)%%content.value.("Name/FirstName")% %endif%%!
                        !%%if (content.value.("Name/MiddleName").isSet)%%content.value.("Name/MiddleName")% %endif%%!
                        !%%if (content.value.("Name/Suffix").isSet)%%content.value.("Name/Suffix")% %endif%%!
                    !%%endif%%!
                    !%%if (content.value.("Position").isSet)%- %content.value.("Position")%%endif%%!
                    !%%if (content.value.("Title").isSet)% "%content.value.("Title")%"%endif%%!
                !%]]></param>
            </parameters>
            <FieldSettings>
                <Setting>
                    <PropertyName>Name</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Contact.Pers.Name)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Contact.Pers.Name.help)]]></Description>
                    <Widget>string</Widget>
                </Setting>
                <Setting>
                    <PropertyName>Position</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Contact.Position)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Contact.Position.help)]]></Description>
                    <Widget>string</Widget>
                </Setting>
                <Setting>
                    <PropertyName>Image</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Image)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Image.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>LinkToOrganization</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Contact.LinkToOrganization)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Contact.LinkToOrganization.help)]]></Description>
                    <Widget>file</Widget>
                    <WidgetConfig>selectabletypes=m-organization</WidgetConfig>
                </Setting>
                <Setting>
                    <PropertyName>Contact</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Contact.Contact)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Contact.Contact.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>Contact/AddressChoice/Address/Name</PropertyName>
                    <Visibility>hidden</Visibility>
                </Setting>
                <Setting>
                    <PropertyName>Contact/AddressChoice/Address/Coord</PropertyName>
                    <Search>listgeocoords</Search>
                </Setting>
                <Setting>
                    <PropertyName>Title</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Title)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Title.help)]]></Description>
                    <Widget>string</Widget>
                    <WidgetConfig><![CDATA[%(attribute:stringConfigTypo)]]></WidgetConfig>
                </Setting>
                <Setting>
                    <PropertyName>Notice</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Contact.Notice)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Contact.Notice.help)]]></Description>
                    <Widget>HtmlWidget</Widget>
                    <WidgetConfig><![CDATA[%(attribute:editorConfigLimited:%(param:editorConfigLimited))]]></WidgetConfig>
                </Setting>
                <Setting>
                    <PropertyName>Description</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Contact.Description)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Contact.Description.help)]]></Description>
                    <Widget>HtmlWidget</Widget>
                    <WidgetConfig><![CDATA[%(attribute:editorConfigLimited:%(param:editorConfigLimited))]]></WidgetConfig>
                </Setting>
                <Setting>
                    <PropertyName>Link</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Link)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Link.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>Category</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Category)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Category.help)]]></Description>
                    <Widget>category</Widget>
                    <WidgetConfig>onlyleafs=false</WidgetConfig>
                    <Search>false</Search>
                </Setting>
                <Setting>
                    <PropertyName>Availability</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Availability)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Availability.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>Order</PropertyName>
                    <DisplayName><![CDATA[%(key.label.Order)]]></DisplayName>
                    <Description><![CDATA[%(key.label.Order.help)%(key.label.NotShownOnPage.help)]]></Description>
                    <Widget>string</Widget>
                    <RuleRegex>^[-+]?\d+$</RuleRegex>
                    <RuleType>error</RuleType>
                    <Error><![CDATA[%(key.msg.error.Order)]]></Error>
                    <Search>listorder</Search>
                    <Synchronization>true</Synchronization>
                </Setting>
                <Setting>
                    <PropertyName>DetailPageUrl</PropertyName>
                    <DisplayName><![CDATA[%(key.label.DetailPageUrl)]]></DisplayName>
                    <Description><![CDATA[%(key.label.DetailPageUrl.help)]]></Description>
                    <Widget>string</Widget>
                    <Default><![CDATA[%(value:Name/FirstName) %(value:Name/MiddleName) %(value:Name/LastName)]]></Default>
                    <DefaultResolveMacros>false</DefaultResolveMacros>
                    <Visibility>ROLE.WORKPLACE_USER</Visibility>
                    <Mapping>
                        <MapTo>urlName</MapTo>
                        <UseDefault>true</UseDefault>
                    </Mapping>
                </Setting>
                <Setting>
                    <PropertyName>GalleryTitle</PropertyName>
                    <DisplayName><![CDATA[%(key.label.GalleryTitle)]]></DisplayName>
                    <Description><![CDATA[%(key.label.GalleryTitle.help)]]></Description>
                    <Widget>string</Widget>
                    <Default><![CDATA[%(stringtemplate:galleryTitle)]]></Default>
                    <DefaultResolveMacros>false</DefaultResolveMacros>
                    <!--
                    <Search>listtitle</Search>
                    Mapping to listtitle will not work for default values and not expanded macros.
                    However, the mapping to the title property will be used for the list title.
                    -->
                    <Visibility>ROLE.WORKPLACE_USER</Visibility>
                    <Mapping>
                        <MapTo>property:Title</MapTo>
                        <UseDefault>true</UseDefault>
                    </Mapping>
                </Setting>
            </FieldSettings>
        </xsd:appinfo>
    </xsd:annotation>
</xsd:schema>
