alkacon.mercury.template/resources/system/modules/alkacon.mercury.template/schemas/privacypolicy.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/link.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/alkacon.mercury.template/schemas/nested/policy-matomo.xsd" />

    <xsd:element name="PrivacyPolicyData" type="OpenCmsPrivacyPolicyData"/>

    <xsd:complexType name="OpenCmsPrivacyPolicyData">
        <xsd:sequence>
            <xsd:element name="PrivacyPolicy" type="OpenCmsPrivacyPolicy" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OpenCmsPrivacyPolicy">
        <xsd:sequence>
            <xsd:element name="Title" type="OpenCmsString" />
            <xsd:element name="PolicyText" type="OpenCmsHtml" />
            <xsd:element name="AcceptAllButtonText" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="SaveButtonText" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="ExternalTitle" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="ExternalFooter" type="OpenCmsHtml" minOccurs="0" />
            <xsd:element name="ShowLinks" type="OpenCmsBoolean" />
            <xsd:element name="LinkImprint" type="OpenCmsNestedLink" minOccurs="0" />
            <xsd:element name="LinkPolicy" type="OpenCmsNestedLink" minOccurs="0" />
            <xsd:element name="LinkLegal" type="OpenCmsNestedLink" minOccurs="0" />
            <xsd:element name="CookieExpirationDays" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="CookieExpirationDaysNoStats" type="OpenCmsString" minOccurs="0" />
            <xsd:element name="MatomoPolicy" type="OpenCmsMatomoPolicy" minOccurs="0" />
            <xsd:element name="GalleryTitle" type="OpenCmsString" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
    </xsd:complexType>

    <xsd:annotation>
        <xsd:appinfo>
            <resourcebundles>
                <propertybundle name="alkacon.mercury.template.messages" />
            </resourcebundles>
            <searchsettings containerPageOnly="true"/>
            <parameters>
                <parameter name="unusedcontentfinder">exclude</parameter>
            </parameters>
            <FieldSettings>
                <Setting>
                    <PropertyName>Title</PropertyName>
                    <DisplayName><![CDATA[%(key.label.PrivacyPolicy.Title)]]></DisplayName>
                    <Description><![CDATA[%(key.label.PrivacyPolicy.Title.help)]]></Description>
                    <Widget>string</Widget>
                    <Default><![CDATA[%(key.type.m-privacypolicy.title)]]></Default>
                    <RuleRegex><![CDATA[.+]]></RuleRegex>
                    <RuleType><![CDATA[error]]></RuleType>
                    <Error><![CDATA[%(key.msg.error.notempty)]]></Error>
                </Setting>
                <Setting>
                    <PropertyName>PolicyText</PropertyName>
                    <DisplayName><![CDATA[%(key.label.PrivacyPolicy.BannerText)]]></DisplayName>
                    <Description><![CDATA[%(key.label.PrivacyPolicy.BannerText.help)]]></Description>
                    <Widget>html</Widget>
                    <WidgetConfig><![CDATA[%(attribute:editorConfigFull:%(param:editorConfigFull))]]></WidgetConfig>
                    <Search>false</Search>
                </Setting>
                <Setting>
                    <PropertyName>AcceptAllButtonText</PropertyName>
                    <DisplayName><![CDATA[%(key.label.PrivacyPolicy.AcceptAllButtonText)]]></DisplayName>
                    <Description><![CDATA[%(key.label.PrivacyPolicy.AcceptAllButtonText.help)]]></Description>
                    <Widget>string</Widget>
                    <Default><![CDATA[%(key.msg.page.privacypolicy.button.banner.accept)]]></Default>
                    <Search>false</Search>
                </Setting>
                <Setting>
                    <PropertyName>SaveButtonText</PropertyName>
                    <DisplayName><![CDATA[%(key.label.PrivacyPolicy.SaveButtonText)]]></DisplayName>
                    <Description><![CDATA[%(key.label.PrivacyPolicy.SaveButtonText.help)]]></Description>
                    <Widget>string</Widget>
                    <Default><![CDATA[%(key.msg.page.privacypolicy.button.banner.save)]]></Default>
                    <Search>false</Search>
                </Setting>
                <Setting>
                    <PropertyName>ExternalTitle</PropertyName>
                    <DisplayName><![CDATA[%(key.label.PrivacyPolicy.ExternalTitle)]]></DisplayName>
                    <Description><![CDATA[%(key.label.PrivacyPolicy.ExternalTitle.help)]]></Description>
                    <Widget>string</Widget>
                    <Default><![CDATA[%(key.msg.page.privacypolicy.external.title)]]></Default>
                </Setting>
                <Setting>
                    <PropertyName>ExternalFooter</PropertyName>
                    <DisplayName><![CDATA[%(key.label.PrivacyPolicy.ExternalFooter)]]></DisplayName>
                    <Description><![CDATA[%(key.label.PrivacyPolicy.ExternalFooter.help)]]></Description>
                    <Widget>html</Widget>
                    <Default><![CDATA[%(key.msg.page.privacypolicy.external.footer)]]></Default>
                    <WidgetConfig><![CDATA[%(attribute:editorConfigFull:%(param:editorConfigFull))]]></WidgetConfig>
                    <Search>false</Search>
                </Setting>
                <Setting>
                    <PropertyName>ShowLinks</PropertyName>
                    <DisplayName><![CDATA[%(key.label.PrivacyPolicy.ShowLinks)]]></DisplayName>
                    <Description><![CDATA[%(key.label.PrivacyPolicy.ShowLinks.help)]]></Description>
                    <Widget>checkbox</Widget>
                    <Default><![CDATA[true]]></Default>
                </Setting>
                <Setting>
                    <PropertyName>LinkImprint</PropertyName>
                    <DisplayName><![CDATA[%(key.label.PrivacyPolicy.LinkImprint)]]></DisplayName>
                    <Description><![CDATA[%(key.label.PrivacyPolicy.LinkImprint.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>LinkImprint/NewWindow</PropertyName>
                    <Visibility>hidden</Visibility>
                </Setting>
                <Setting>
                    <PropertyName>LinkPolicy</PropertyName>
                    <DisplayName><![CDATA[%(key.label.PrivacyPolicy.LinkPolicy)]]></DisplayName>
                    <Description><![CDATA[%(key.label.PrivacyPolicy.LinkPolicy.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>LinkPolicy/NewWindow</PropertyName>
                    <Visibility>hidden</Visibility>
                </Setting>
                <Setting>
                    <PropertyName>LinkLegal</PropertyName>
                    <DisplayName><![CDATA[%(key.label.PrivacyPolicy.LinkLegal)]]></DisplayName>
                    <Description><![CDATA[%(key.label.PrivacyPolicy.LinkLegal.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>LinkLegal/NewWindow</PropertyName>
                    <Visibility>hidden</Visibility>
                </Setting>
                <Setting>
                    <PropertyName>CookieExpirationDays</PropertyName>
                    <DisplayName><![CDATA[%(key.label.PrivacyPolicy.CookieExpirationDaysWithStats)]]></DisplayName>
                    <Description><![CDATA[%(key.label.PrivacyPolicy.CookieExpirationDaysWithStats.help)]]></Description>
                    <Widget>selectcombo</Widget>
                    <Default><![CDATA[90]]></Default>
                    <WidgetConfig><![CDATA[
                        90:%(key.label.PrivacyPolicy.CookieExpirationDays.90days)|
                        1:%(key.label.PrivacyPolicy.CookieExpirationDays.1day)|
                        7:%(key.label.PrivacyPolicy.CookieExpirationDays.7days)|
                        30:%(key.label.PrivacyPolicy.CookieExpirationDays.30days)|
                        180:%(key.label.PrivacyPolicy.CookieExpirationDays.180days)
                    ]]></WidgetConfig>
                    <Search>false</Search>
                    <Synchronization>true</Synchronization>
                </Setting>
                <Setting>
                    <PropertyName>CookieExpirationDaysNoStats</PropertyName>
                    <DisplayName><![CDATA[%(key.label.PrivacyPolicy.CookieExpirationDaysNoStats)]]></DisplayName>
                    <Description><![CDATA[%(key.label.PrivacyPolicy.CookieExpirationDaysNoStats.help)]]></Description>
                    <Widget>selectcombo</Widget>
                    <Default><![CDATA[1]]></Default>
                    <WidgetConfig><![CDATA[
                        1:%(key.label.PrivacyPolicy.CookieExpirationDays.1day)|
                        7:%(key.label.PrivacyPolicy.CookieExpirationDays.7days)|
                        30:%(key.label.PrivacyPolicy.CookieExpirationDays.30days)|
                        90:%(key.label.PrivacyPolicy.CookieExpirationDays.90days)|
                        180:%(key.label.PrivacyPolicy.CookieExpirationDays.180days)
                    ]]></WidgetConfig>
                    <Search>false</Search>
                    <Synchronization>true</Synchronization>
                </Setting>
                <Setting>
                    <PropertyName>MatomoPolicy</PropertyName>
                    <DisplayName><![CDATA[%(key.label.PrivacyPolicy.Matomo)]]></DisplayName>
                    <Description><![CDATA[%(key.label.PrivacyPolicy.Matomo.help)]]></Description>
                </Setting>
                <Setting>
                    <PropertyName>GalleryTitle</PropertyName>
                    <Default><![CDATA[%(value:Title)]]></Default>
                    <DefaultResolveMacros>false</DefaultResolveMacros>
                    <Search>false</Search>
                    <Visibility>ROLE.WORKPLACE_USER</Visibility>
                    <Mapping>
                        <MapTo>property:Title</MapTo>
                        <UseDefault>true</UseDefault>
                    </Mapping>
                </Setting>
            </FieldSettings>
        </xsd:appinfo>
    </xsd:annotation>

</xsd:schema>
